/* -----------------------公用样式------------------------*/
/*布局*/
.window{width: 100vw;height: 100vh;overflow: hidden;position: relative;display: flex;flex-direction: column;}
.layout{width: 100%;height: 100%;overflow: hidden;position: relative;}
.layout-row{width: 100%;height: 100%;overflow: hidden;position: relative;display: flex;}
.layout-col{height: 100%;width: 100%;overflow: hidden;position: relative;display: flex;flex-direction: column;}
.layout-main{height: 100%;width: 100%;position: relative;display: flex;flex-direction: column; padding: 20px; box-sizing: border-box; border-radius: 3px; background: #FFFFFF;}
.layout-main-row{width: 100%;height: 100%;position: relative;display: flex;}
.layout-main-col{height: 100%;width: 100%;position: relative;display: flex;flex-direction: column;}
/*表格*/
.table{width: 100%;height: 100%;overflow: overlay;}
.table-col{width: 100%;height: 100%;overflow: overlay; display: flex; flex-direction: column;}
.trow{width: 100%;display: flex;align-items: center;padding: 12px 5px;box-sizing: border-box; font-weight: bold;}
.trow > div{padding: 0 5px;box-sizing: border-box;}
.row{width: 100%;display: flex;align-items: center;padding: 10px 5px;box-sizing: border-box; background: none; transition: background 0.3s ease;}
.table .row:hover{background: rgba(0, 101, 255, 0.1) !important; transition: background 0.3s ease; box-sizing: border-box;}
.row > div{padding: 0 5px;box-sizing: border-box;word-break: break-all;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;}
.row > div > span{vertical-align: middle}
.active{background: rgba(0, 101, 255, 0.5) !important;}
.views{background: linear-gradient(90deg, #fa9b64 0%, #d27015 100%);}
/*经过*/
.hoverclass{ background-color: #1A57B2 !important; color: #e5e9f1; cursor: pointer;}
.noneclass:hover{background: linear-gradient(270deg, rgba(17, 0, 120, 0) 0%, #1A57B2 100%); box-sizing: border-box; border: 1px solid rgba(65, 255, 255, 0.5) !important; box-shadow: inset 0px 0px 0.625vw 0px #4187FF;}
/*背景*/
.loginbg{background: #060121 url( ../imgs/login.png) no-repeat;  background-size: 100% 100%;}
/*文字*/
.fontStyle{background: linear-gradient(180deg, #ffffff 0%, #64DEFF 100%); background-clip: text; -webkit-text-fill-color: transparent; letter-spacing: 2px; font-weight: bold;}
.buttonStyle{background: rgba(30, 131, 255, 0.2); color: #fff; border: 1px solid #1E83FF}
.titleStyle{width: 248px; padding: 8px 0; background: linear-gradient(90deg, rgba(12,1,67,0.00) 0%, #242DAB 51%, rgba(12,1,67,0.00) 100%);
	font-size: 16px;font-weight: 400;color: #fff;display: flex; align-items:center; justify-content: center;margin: 0 auto; margin-bottom: 15px;}
/*地图*/
.custom-tooltip-box {min-width: 120px; padding: 10px 15px !important; border-radius: 8px !important; border: 1px solid #aaa !important; color: #fff !important; background: rgba(0, 0, 0, 0.7) !important; box-shadow: 0px 0px 8px 2px rgba(1, 136, 255, 0.5) !important;}
/*three.js标签*/
.cssrender {display: flex; position: fixed; top: 0; left: 0; z-index: 100;pointer-events: none;}
.elementTagLeft {position: relative; left: -150px; top: -100px; width: 220px; height: 50px;}
.elementTagLeft::before {content: ""; display: block; position: absolute; width: 60px; height: 1px; background: rgb(96 151 255 / 75%); bottom: -70px; right: -60px; transform-origin: 0 0; transform: rotate(30deg);}
.elementTagLeft::after {content: ""; display: block; position: absolute; width: 8px; height: 8px; background: rgb(96 151 255 / 75%); bottom: -105px; right: -58px; border-radius: 50%;}
.elementTagRight {position: relative; left: 150px; top: -100px; width: 220px; height: 50px;font-size: 14px;}
.elementTagRight::before {content: ""; display: block; position: absolute; width: 60px; height: 1px; background: rgb(96 151 255 / 75%); bottom: -70px; right: 159px; transform-origin: 0 0; transform: rotate(120deg);}
.elementTagRight::after {content: ""; display: block; position: absolute; width: 8px; height: 8px; background: rgb(96 151 255 / 75%); bottom: -126px; right: 246px; border-radius: 50%;}
.elementContent {background: rgba(0, 30, 79, 0.6); box-shadow: 0px 4px 10px 0px rgba(96, 151, 255, 0.2); color: #B1C9F1; padding-bottom: 5px;}
.elementTagLefts {position: relative; left: -150px; top: -100px; width: 170px; height: 30px;font-size: 12px;}
.elementTagLefts::before {content: ""; display: block; position: absolute; width: 50px; height: 1px; background: rgb(96 151 255 / 75%); bottom: -80px; right: -48px; transform-origin: 0 0; transform: rotate(30deg);}
.elementTagLefts::after {content: ""; display: block; position: absolute; width: 6px; height: 6px; background: rgb(96 151 255 / 75%); bottom: -109px; right: -46px; border-radius: 50%;}
.elementTagRights {position: relative; left: 100px; top: -100px; width: 170px; height: 30px;font-size: 12px;}
.elementTagRights::before {content: ""; display: block; position: absolute; width: 50px; height: 1px; background: rgb(96 151 255 / 75%); bottom: -68px; right: 118px; transform-origin: 0 0; transform: rotate(120deg);}
.elementTagRights::after {content: ""; display: block; position: absolute; width: 6px; height: 6px; background: rgb(96 151 255 / 75%); bottom: -110px; right: 188px; border-radius: 50%;}
.elementTagLefts2 {position: relative; left: -120px; top: 80px; width: 170px; height: 30px;font-size: 12px;}
.elementTagLefts2::before {content: ""; display: block; position: absolute; width: 50px; height: 1px; background: rgb(96 151 255 / 75%); bottom: 70px; right: -74px; transform-origin: 0 0; transform: rotate(120deg);}
.elementTagLefts2::after {content: ""; display: block; position: absolute; width: 6px; height: 6px; background: rgb(96 151 255 / 75%); bottom: 70px; right: -28px; border-radius: 50%;}
.elementContent .title {font-size: 12px; font-weight: bold; margin: 13px 0; color: #efefef; padding: 10px; background: linear-gradient(90deg, rgba(96, 151, 255, 0) 0%, rgba(96, 151, 255, 0.4816) 50%, rgba(96, 151, 255, 0) 100%, rgba(96, 151, 255, 0) 100%), rgba(0, 30, 79, 0.8)}
.elementContent .titles {font-size: 12px; font-weight: bold; margin: 13px 0; color: #efefef; padding: 10px; background: linear-gradient(90deg, rgba(96, 151, 255, 0) 0%, rgba(96, 151, 255, 0.4816) 50%, rgba(96, 151, 255, 0) 100%, rgba(96, 151, 255, 0) 100%), rgba(0, 30, 79, 0.8)}
.elementContent p { padding: 0 10px;}
.lightspan{background: rgba(0, 0, 0, 0.7); padding: 2px; font-size: 12px; color: #00ffff; width: 20px; height: 20px; text-align: center; line-height: 20px; border-radius: 100%; border: 1px #72aff8 solid}

/* -----------------------自定义样式------------------------*/
/*阴影*/
.ba1{background: rgba(4, 30, 74, 0.6);}
.ba2{background: rgba(20, 100, 197, 0.3);}
.ba3{background: linear-gradient(90deg, #194495 0%, rgba(96, 151, 255, 0) 100%);}
.ba4{background: linear-gradient(180deg, rgba(96, 151, 255, 0) 0%, #6097FF 100%);}
.ba5{background: linear-gradient(90deg, rgba(96, 231, 255, 0.4) 0%, rgba(96, 231, 255, 0) 100%);}
.ba6{background: linear-gradient(270deg, rgba(12, 60, 118, 0) 0%, rgba(20, 100, 197, 0.5) 100%);}
.ba7{background: linear-gradient(270deg, rgba(211, 153, 42, 0) 0%, rgba(211, 153, 42, 0.5) 100%);}
.ba8{background: linear-gradient(270deg, rgba(28, 118, 134, 0) 0%, #087A8F 85%, #60E7FF 106%);}
.ba9{background: linear-gradient(180deg, rgba(25, 49, 112, 0) 0%, rgba(25, 49, 112, 0.8) 100%);}
.ba10{background: linear-gradient(180deg, rgba(1, 29, 76, 0) 0%, #6097FF 99%);}
.ba11{background: linear-gradient(180deg, #0249D0 0%, rgba(10, 60, 156, 0) 100%);}
.ba12{border-image: linear-gradient(90deg, rgba(226, 239, 255, 0) 0%, #EEF6FF 51%, rgba(223, 237, 253, 0) 100%)}
.ba13{background: linear-gradient(180deg, rgba(20, 100, 197, 0) 0%, rgba(20, 100, 197, 0.5) 100%);}
.bs{background: linear-gradient(180deg, rgba(20, 100, 197, 0) 0%, rgba(20, 100, 197, 0.5) 100%);box-sizing: border-box;border: 1px solid;
	border-image: linear-gradient(180deg, rgba(96, 231, 255, 0) 0%, rgba(96, 231, 255, 0.4) 100%) 1;border-top: none;}
.bs1{background: linear-gradient(180deg, rgba(20, 100, 197, 0) 0%, rgba(20, 100, 197, 0.5) 100%); box-sizing: border-box;border: 1px solid ;
	border-image: linear-gradient(180deg, rgba(96, 231, 255, 0) 0%, rgba(96, 231, 255, 0.4) 100%) 1; border-top: none;}
.bs2{background: linear-gradient(270deg, rgba(25, 73, 164, 0) 0%, #4D84EB 51%, rgba(25, 73, 164, 0) 100%); box-sizing: border-box;border: 1px solid;
	border-image: linear-gradient(270deg, rgba(25, 73, 164, 0) 15%, #DAE7FF 52%, rgba(25, 73, 164, 0) 88%) 1;}
.bs3{background: linear-gradient(180deg, rgba(20, 100, 197, 0) 0%, rgba(20, 100, 197, 0.5) 100%); box-sizing: border-box;border: 1px solid ;
	border-image: linear-gradient(180deg, rgba(96, 231, 255, 0) 0%, rgba(96, 231, 255, 0.4) 100%) 1; border-top: none;}
.bs4{background: linear-gradient(180deg, rgba(20, 100, 197, 0) 0%, rgba(20, 100, 197, 0.5) 100%); box-sizing: border-box; border: 1px solid ;
	border-image: linear-gradient(180deg, rgba(96, 231, 255, 0) 0%, rgba(96, 231, 255, 0.4) 100%) 1; border-top: none;}
.bs6{background: linear-gradient(90deg, rgba(72, 119, 190, 0.6) 0%, rgba(72, 119, 190, 0) 100%);}
.bs7{background: linear-gradient(90deg, rgba(28, 174, 214, 0.6) 0%, rgba(19, 115, 141, 0) 100%);box-sizing: border-box;
	border: 1px solid ; border-image: linear-gradient(270deg, rgba(43, 189, 231, 0) 0%, #3EBEE3 100%) 1; border-right: none;}
.bs8{background: linear-gradient(90deg, rgba(26, 73, 155, 0) 0%, rgba(26, 73, 155, 0.3) 100%);box-sizing: border-box;
	border: 1px solid ; border-image: linear-gradient(270deg, rgba(26, 73, 155, 0) 0%, #6DA2FF 100%) 1;}
.bs8:hover{background: linear-gradient(90deg, rgba(28, 174, 214, 0.6) 0%, rgba(19, 115, 141, 0) 100%);box-sizing: border-box;
	border: 1px solid ; border-image: linear-gradient(270deg, rgba(43, 189, 231, 0) 0%, #3EBEE3 100%) 1; border-right: none;}
.bs88{background: linear-gradient(90deg, rgba(108, 121, 143, 0) 0%, rgba(13, 34, 70, 0.3) 100%);box-sizing: border-box;
	border: 1px solid ; border-image: linear-gradient(270deg, rgba(26, 73, 155, 0) 0%, #315595 100%) 1;}
.bs9{background: linear-gradient(180deg, rgba(16, 68, 146, 0) 0%, #063479 100%); box-sizing: border-box;
	border-width: 0px 0px 1px 0px; border-style: solid; border-color: #184992;}
.bs10{background: linear-gradient(270deg, rgba(62, 190, 227, 0) 0%, rgba(103, 218, 252, 0.4) 51%, rgba(62, 190, 227, 0) 100%);box-sizing: border-box;
	border: 1px solid ;border-image: linear-gradient(270deg, rgba(62, 190, 227, 0) 15%, #80E2FF 52%, rgba(62, 190, 227, 0) 88%) 1;}
.bs11{background: linear-gradient(0deg, rgba(0, 16, 39, 0.5) 0%, rgba(0, 16, 39, 0.5) 100%);box-sizing: border-box;border: 1px solid ;
	border-image: linear-gradient(180deg, rgba(65, 255, 255, 0.1) 0%, rgba(65, 255, 255, 0.18) 100%) 1; margin-top: 1px;}
.bss{background: linear-gradient(0deg, rgba(0, 16, 39, 0.5) 0%, rgba(0, 16, 39, 0.5) 100%);box-sizing: border-box;border: 1px solid ;
	border-image: linear-gradient(180deg, rgba(65, 255, 255, 0.1) 0%, rgba(65, 255, 255, 0.48) 100%) 1; margin-top: 1px;}
.bsd{background: linear-gradient(0deg, rgba(0, 16, 39, 0.5) 0%, rgba(0, 16, 39, 0.5) 100%);box-sizing: border-box;border: 1px solid ;
		border-image: linear-gradient(0deg, rgba(65, 255, 255, 0.1) 0%, rgba(65, 255, 255, 0.48) 100%) 1}
.bsc{background: rgba(19, 89, 190, 0.2); box-sizing: border-box;border: 1px solid ;
	border-image: linear-gradient(0deg, rgba(65, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0) 100%) 1;}
.bsred{background:linear-gradient(180deg,rgba(231, 86, 86, 0.69) 0%,rgba(149, 9, 9, 0.6) 100%) ;box-sizing: border-box;}
.box1{background: rgba(34, 75, 138, 0.7);}
.box2{background: linear-gradient(90deg, rgba(28, 174, 214, 0.6) 0%, rgba(19, 115, 141, 0) 100%);box-sizing: border-box;
	border: 1px solid ; border-image: linear-gradient(270deg, rgba(43, 189, 231, 0) 0%, #3EBEE3 100%) 1; border-right: none;}
.box3{background: linear-gradient(90deg, rgba(241, 96, 132, 0.6) 0%, rgba(19, 115, 141, 0) 100%);box-sizing: border-box;
	border: 1px solid ; border-image: linear-gradient(270deg, rgba(43, 189, 231, 0) 0%, #fa64af 100%) 1; border-right: none;}

.bgstl2{background: linear-gradient(180deg,rgba(96, 151, 255, 1) 0%,rgba(1, 29, 76, 0) 100%);}
.bgstl3{background: linear-gradient(90deg,rgba(96, 151, 255, 1) 0%,rgba(1, 29, 76, 0) 100%);}
.bgstl4{background: linear-gradient(180deg,rgba(20, 100, 197, 0) 0%,rgba(20, 100, 197, 0.5) 100%);box-sizing: border-box; border: 1px solid ;border-image: linear-gradient(180deg, rgba(96, 231, 255, 0) 0%, rgba(96, 231, 255, 0.4) 100%) 1; border-top: none;}
.bgstl5{background: linear-gradient(0deg,rgba(96, 151, 255, 1) 0%,rgba(1, 29, 76, 0) 100%);}
.bgbox11{background: linear-gradient(90deg,rgba(25, 73, 164, 0) 0%,rgba(77, 132, 235, 1) 50%,rgba(25, 73, 164, 0) 100%); box-sizing: border-box;}
.bgbox22{background: linear-gradient(90deg,rgba(25, 73, 164, 0) 0%,rgb(1, 82, 233) 50%,rgba(25, 73, 164, 0) 100%); box-sizing: border-box;}
.bglinex1{
	background: linear-gradient(180deg,rgba(96, 151, 255, 1) 0,rgba(38, 80, 158, 0.69) 100%);
}
.light-box{background: linear-gradient(180deg,rgba(20, 100, 197, 0) 0%,rgba(20, 100, 197, 0.5) 100%);box-sizing: border-box;border: 1px solid rgba(96, 231, 255, 0.6);height:124px;border-radius: 8px;}
.floor-device1{background: linear-gradient(90deg,rgba(20, 100, 197, 0.5) 0%,rgba(20, 100, 197, 0) 100%);box-sizing: border-box;border:1px solid;border-image:linear-gradient(270deg, rgba(96, 231, 255, 0) 0%, rgba(96, 231, 255, 0.4) 100%) 1;border-right:none;margin-top:8px}
.floor-device2{background: linear-gradient(0deg,rgba(20, 100, 197, 0.5) 0%,rgba(20, 100, 197, 0) 100%);box-sizing: border-box;border:1px solid;border-image:linear-gradient(90deg, rgba(96, 231, 255, 0) 0%, rgba(96, 231, 255, 0.4) 100%) 1;border-left:none;margin-top:8px}
.floor-device1:nth-child(1){margin:0px !important;}
.ymsgbox{padding:2px 8px;background-color: #FFECC9; color:#F7A60B;font-size: 12px; border:1px solid #FFC860}
.bmsgbox{padding:2px 8px;background-color: #6097FF; color:#0C2B60;font-size: 14px;}
.gmsgbox{padding:2px 8px;background-color: #CDDFFF; color:#6097FF;font-size: 12px;border:1px solid #6097FF}
.bgzj{background: linear-gradient(270deg,rgba(20, 100, 197, 0) 9%,rgba(20, 100, 197, 100) 100%);box-sizing: border-box;border: 1px solid;border-image:linear-gradient(270deg, rgba(96, 231, 255, 0) 0%, rgba(96, 231, 255, 0.4) 100%) 1;border-right:none;}
.octagon {width: 100%;height: 100%;background: linear-gradient(180deg, rgba(20, 100, 197, 0) 0%, rgba(20, 100, 197, 0.5) 100%);}