/*组件样式*/

// 按钮
.el-button{border: none !important; border-color: none !important;}
// 弹窗
.el-dialog{background: #010F21; border: 1px solid #276DD6 !important; border-radius: 10px; overflow: hidden;padding: 0;}
.el-dialog__header{background: linear-gradient(90deg, #467DD1 0%, #2C67BE 38%, rgba(62, 128, 227, 0) 100%); box-sizing: border-box; border-bottom: 1px solid rgba(65, 255, 255, 0.2) !important; box-shadow: inset 0px 0px 12px 0px #4187FF !important; border-radius: 10px 10px 0 0; margin-right: 0 !important; padding: 15px}
.el-dialog__title{color: #FFFFFF !important;}
.el-dialog__headerbtn{top: 0 !important;}
.el-dialog__headerbtn .el-dialog__close{color: #FFFFFF !important; font-size: 20px !important;}
.el-dialog__body{border-image: linear-gradient(0deg, #3EBEE3 0%, rgba(62, 190, 227, 0) 100%) 1; box-shadow: 0px 4px 10px 0px rgba(62, 190, 227, 0.2);padding: 20px;}
.el-dialog__footer{border-top: none; background: #010F21; padding: 0 20px 20px 20px;}
// 表单
.el-form-item__label{color: #FFFFFF !important;}
// 文本框
.el-textarea{box-shadow: 0 0 0 1px #2663AA #2663AA inset!important;}
.el-textarea__inner{color: #ffffff !important; background: rgba(17, 8, 73, 0.3) !important; box-shadow: 0 0 0 1px #2663AA inset!important;}
// 多选
.el-checkbox{color: #fff !important;}
// 单选
.el-radio{color: #fff !important;}
.el-radio.el-radio--large{height: auto !important;}
// 开关
.el-switch.is-checked .el-switch__core {border-color: #2663AA !important; background-color: #2663AA !important;}
// 下拉选择（新版）
.el-select__wrapper{background: rgba(5, 19, 67, 0.2) !important; box-shadow: 0 0 0 1px #276DD6 inset !important;
	border-radius: 5px; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box;}
.el-select__input{color:#FFFFFF !important;}
.el-select__selected-item{color:#FFFFFF !important;}
// 下拉选择（旧版）
.el-select .el-select-tags-wrapper.has-prefix{display:inline-block; overflow:hidden; white-space:nowrap;}
.el-select .el-select__tags .el-tag--info{background: #276DD6 !important;}
.el-tag{background: #276DD6 !important;}
.el-tag.el-tag--info{color: #fff !important;}
.el-tag .el-tag__close{color: #fff !important;}
.el-input__wrapper{color:#3EBEE3; background: rgba(12, 36, 120, 0.2); box-shadow: 0 0 0 1px #276DD6 inset;
	border-radius: 5px; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box;}
.el-input__wrapper:hover{box-shadow: 0 0 0 1px #276DD6 inset !important;}
.el-input.is-disabled .el-input__wrapper {background: rgba(12, 36, 120, 0.2); box-shadow: 0 0 0 1px #276DD6 inset}
.el-input__inner{color: #fff;}
.el-select .el-input .el-select__caret{color: #3EBEE3 !important;}
// 时间选择
.el-date-picker__time-header{background: #093A83!important; border: none !important;}
.el-date-table td.available {background: #093A83 !important; }
.el-date-table td.in-range .el-date-table-cell{background: #001027 !important; }
.el-date-table td.available:hover{	background: #093A83!important;}
.el-date-table td.in-range .el-date-table-cell:hover{background: #093A83!important;}
.el-picker-panel__footer{background: #093A83!important;}
.el-picker-panel__footer{
	.el-button.is-text:hover{background: #001027 !important;}
	.el-button{background: #001027 !important;}
}
.el-picker-panel{
	color:#fff !important;
	.el-picker-panel__icon-btn{color:#fff;}
	.el-time-panel{background: #093A83!important ;
		.el-time-spinner__item{color:#fff !important;}
		.el-time-panel__btn{color:#fff !important;}
		.el-time-spinner__item:hover:not(.is-disabled):not(.is-active){background: #001027;}
	}
}
.el-picker__popper.el-popper{background: #093A83!important;}
.el-picker-panel{background: #093A83!important;}
.el-date-picker__header-label{color:#fff!important;}
.el-date-table th{color:#fff!important;}
.el-date-table td.available{color:#fff!important;}
.el-month-table td .el-date-table-cell__text{color:#fff!important;}
.el-year-table td .el-date-table-cell__text{color:#fff!important;}
.el-date-range-picker__time-header{background: #093A83!important;}
.el-range-editor.is-disabled input{background: none!important;}
.el-date-range-picker__time-header{border-bottom: 0px solid #276DD6!important;}
.el-picker-panel__footer{border-top: 0px solid #276DD6!important;}
.el-date-table th{border-bottom: 0px solid #276DD6!important;}
.el-date-range-picker__content.is-left{border-right: 0px solid #276DD6!important;}
.el-date-editor .el-range-separator{color: #276DD6 !important;}
.el-date-editor .el-range__icon svg{color: #276DD6 !important;}
.el-date-editor .el-range-input{color:#ffffff !important;}
.el-date-editor.el-input__wrapper{background: rgba(5, 19, 67, 0.6) !important; box-shadow: 0 0 0 1px #276DD6 inset !important;
	border-radius: 5px; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box;}
// 提示框
.el-popper.is-light{border: none !important;}
.el-popper.is-customized {padding: 6px 12px;background: #fff;color: #232323;}
.el-popper.is-customized .el-popper__arrow::before {background: #fff;color: #232323;right: 0;}
.el-popper.is-light, .el-popper.is-light>.el-popper__arrow:before{background-color: #093A83; border: 1px solid #093A83 !important;}
// 树结构
.el-tree{--el-tree-node-hover-bg-color: none !important;background: none !important;color:#fff !important;}
.el-tree-node__content{padding: 8px 0 8px 0;}
.el-tree-node__expand-icon{font-size: 18px !important;}
.el-tree-node__content:hover{background: rgba(0, 101, 255, 0.2) !important;transition: background 0.3s ease;box-sizing: border-box;padding: 21px 0;}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{background: rgba(0, 101, 255, 0.5) !important;transition: background 0.3s ease;box-sizing: border-box;padding: 21px 0;}
.el-tree-node__label{width: 100%;}
.monitor-tabs{
	.el-tabs__nav-wrap:after{background: transparent;}
	.el-tabs__header{margin: 0 !important;}
	.el-tabs__active-bar{display: none;}
	.el-tabs__item{color:rgba(96, 151, 255, 1)}
	.el-tabs__item.is-active, .el-tabs__item:hover{color:#EFF5FF;background:linear-gradient(180deg,rgba(96, 151, 255, 0) 0%,rgba(96, 151, 255, 1)100%);}
}
.el-tabs--bottom>.el-tabs__header .el-tabs__item:nth-child(2), .el-tabs--top>.el-tabs__header .el-tabs__item:nth-child(2){padding-left:20px !important;} 
.el-tabs--top>.el-tabs__header .el-tabs__item:last-child{padding-right: 20px !important;}
.el-select__placeholder.is-transparent{color: #a5a5a5 !important;}
.el-select-dropdown__empty{background:#093A83!important;color:#fff !important;}
.el-checkbox__inner{background: transparent !important;}
.el-select__popper.el-popper{
	background: #093A83!important;
	.el-select-dropdown__item.is-hovering{background:#041E4A;}
	.el-select-dropdown__item{color:#fff;}
}
.dtrans{
	.el-transfer-panel{
		background: transparent !important;width:260px;
	  .el-transfer-panel__header{background: transparent !important;border-color: #2560D0 !important; .el-checkbox__label{color: #fff !important;}}
	  .el-transfer-panel__body{height:550px;}
  }
  .el-transfer__buttons{button{display: block;padding:10px 5px !important;}}
	.el-transfer__button:nth-child(2){margin:10px 0 0 0 !important;}
}
.el-slider__runway{background-color: rgba(83, 100, 124, 0.2) !important;}
.el-slider__bar{background-color:transparent !important;background: linear-gradient(90deg,rgba(96, 231, 255, 0) 0%,rgba(96, 231, 255, 1) 100%);}
.query{.el-date-editor.el-input__wrapper{width:300px !important;}}
.tb-time-picker{.el-date-editor.el-input{width:140px !important;}}
.el-time-spinner__item{color:#fff !important;}
.el-time-spinner__item:hover:not(.is-disabled):not(.is-active){background-color: #010F21 !important;}
.el-time-panel__btn{color:#fff !important;}
.el-time-panel__btn.confirm{color:#001027 !important;}
.el-table.yqtb{
	background-color:transparent !important;
	color:#fff !important; .el-icon{color:#276DD6 !important;	border:1px solid #276DD6;}
	tr{background-color: transparent !important;}
	.el-table__expanded-cell{background-color: transparent !important;}
	.el-table__row:hover{background: linear-gradient(90deg, rgba(28, 174, 214, 0.6) 0%, rgba(19, 115, 141, 0) 100%);box-sizing: border-box;border: 1px solid ; border-image: linear-gradient(270deg, rgba(43, 189, 231, 0) 0%, #3EBEE3 100%) 1; border-right: none;}
	tr:hover>td.el-table__cell{background-color: transparent !important;}
	.el-table__inner-wrapper::before{display:none;}
	thead{color:#fff !important;}
	.el-table__cell.is-leaf{border:none !important;}
	td.el-table__cell{border:none !important;}
	th.el-table__cell{background-color: transparent !important;	background: linear-gradient(180deg, #0249D0 0%, rgba(10, 60, 156, 0) 100%);}
}